include *.py
include *.rst
include .coveragerc
include *.cfg
exclude .*.cfg
exclude Jenkinsfile
graft ribxlib
recursive-exclude ribxlib *.pyc
graft testdata
recursive-include doc *.py
recursive-include doc *.rst
recursive-include doc *.pdf
exclude *.yml
exclude Dockerfile
